[submodule "calendar"]
	path = apps/calendar
	url = git@github.com:flintwinters/calendar.git
	branch = main
[submodule "calculator"]
	path = apps/calculator
	url = git@github.com:flintwinters/calculator.git
	branch = main
[submodule "worminal"]
	path = apps/worminal
	url = git@github.com:flintwinters/worminal.git
	branch = main
